*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --orange: #FD841F;
    --winning-block: #2d414b;
}

body{
    color: var(--orange);
    font-family: 'Finger Paint', cursive;
}

h1{
    font-size: 54px;
    text-transform: uppercase;
}

.contain{
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1C6758;
}

#gameboard{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}

.box:nth-child(3n){
    border-right: none;
}
.box:nth-child(6n) ~ .box{
    border-bottom: none;
}

button{
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--orange);
    color: #333;
    border-color: var(--orange);
    font-size: 18px;
    transition: 200ms tranform;
    -webkit-transition: 200ms tranform;
    -moz-transition: 200ms tranform;
    -ms-transition: 200ms tranform;
    -o-transition: 200ms tranform;
    font-weight: 600;
}

button:hover{
    cursor: pointer;
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);

}
